body{
    text-align: center; 
       
    }
#container{
    /*border: 4mm ridge rgba(211, 220, 50, 0.6);*/
    border: thick double #32a1ce;
    width: 30%;
    margin-left: 35%;
background-color:bisque

}
hr{
    width: 80%;
    border-color: antiquewhite;
}
    
#tasks li{
    text-align: left;
    margin-left: 20%;

}