body {
    text-align: center;
    margin-top: 10%;
}

#container {
    border: 4mm ridge rgba(195, 27, 172, 0.6);
    /*border: thick double #32a1ce;*/
    width: 30%;
    margin-left: 35%;
    background-color: bisque;
    border-radius: 15px;


}

hr {
    width: 80%;
    border-color: antiquewhite;
}

#tasks li {
    text-align: left;
    margin-left: 20%;

}

.checked {
    text-decoration: line-through;
    color: rgba(46, 44, 44, 0.277);
}
.filters{
    margin: 0%;
    justify-content: space-between;
    
#all{
    border: 1mm ridge #94136b;

}
#completed{
        border: 1mm ridge #94136b;

}
}
